@import "tailwindcss";

@theme {
  --color-legion-blue: #1B3D6D;
  --color-legion-red: #D72131;
  --color-legion-navy: #1B2A4A;
  --color-legion-navy-deep: #0a1628;
  --color-legion-white: #F5F5F0;
  --color-legion-mist: #D8E0EA;
  --color-legion-red-dark: #8B0000;
  --color-legion-gold: #C9A84C;
}
